/* Dashboard.css */
.kanban-board {
    display: flex;
    gap: 20px;
  }
  
  .kanban-column {
    flex: 1;
    background-color: #f6f4f498;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .kanban-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .title-padding{
    padding: 40px;
    text-decoration: underline;
  }

  .wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
  }

  .custom-width{
    width:300px;
  }

  .txt-lft{
    text-align: left;
  }

  .btn-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  